.DS_Store
.probe
.crash-reports
.vscode
.essential
Emi.json
logs/*
.modernfix
.saves
.screenshots
.shaderpacks
.simplebackups
xaero/*
Mods/*
Essential/*
crash-reports/*
saves/*
simplebackups/*
Modernfix/*
Logs/*
emi.json
local/ftbquests/client-config.snbt
/screenshots
config/cubes_without_borders.json
config/fabric/indigo-renderer.properties
config/fml.toml
config/oculus.properties
config/packetfixer.properties
config/xaerominimap_entities.json
ESM/TESTING/anchors.dat
minecraftinstance.json
options.txt
usercache.json
/XaeroWaypoints_BACKUP240807
/backups
config/oculus.properties
config/packetfixer.properties
config/xaerominimap_entities.json
config/fabric/indigo-renderer.properties
config/cubes_without_borders.json
config/flywheel.json
config/flywheel-client.json
config/fml.toml
config/embeddiuum-fingerprint.json
config/embeddiuum-options.json
