.DS_Store
.probe
.crash-reports
.vscode
.essential
Emi.json
logs/*
.modernfix
.saves
.screenshots
.shaderpacks
.simplebackups
xaero/*
Mods/*
Essential/*
crash-reports/*
saves/*
simplebackups/*
Modernfix/*
Logs/*
emi.json
local/ftbquests/client-config.snbt
/screenshots
